.zuoshang {
    left: 37px;
    top: 53px;
    width: 646.77px;
    height: 206.44px;
    opacity: 1;
    /*background: url(https://img.js.design/assets/img/651edd4505886c651259a7c3.png#b9ab0d901963be4e79470f963c57d728);*/
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);

}
